USE [master]
GO
/****** Object:  Database [saymandb]    Script Date: 27.04.2024 16:37:34 ******/
CREATE DATABASE [saymandb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'saymandb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\saymandb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'saymandb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\saymandb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [saymandb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [saymandb]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 27.04.2024 16:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
	[Authority] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Branslar]    Script Date: 27.04.2024 16:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branslar](
	[BransId] [int] IDENTITY(1,1) NOT NULL,
	[BransAd] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BransId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilcesi]    Script Date: 27.04.2024 16:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilcesi](
	[IlcesiId] [int] IDENTITY(1,1) NOT NULL,
	[IlcesiAd] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IlcesiId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ili]    Script Date: 27.04.2024 16:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ili](
	[IliId] [int] IDENTITY(1,1) NOT NULL,
	[IlAd] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[IliId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 27.04.2024 16:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[OgrnId] [int] IDENTITY(1,1) NOT NULL,
	[OgrnAd] [nvarchar](50) NULL,
	[OgrnBolum] [int] NULL,
	[OgrnIban] [nvarchar](50) NULL,
	[OgrnTc] [nvarchar](11) NULL,
	[OkulId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OgrnId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogretmenler]    Script Date: 27.04.2024 16:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogretmenler](
	[OgretId] [int] IDENTITY(1,1) NOT NULL,
	[OgretAd] [nvarchar](50) NULL,
	[BransId] [int] NULL,
	[OgretIban] [nvarchar](50) NULL,
	[OgretTc] [nvarchar](11) NULL,
	[OkulId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OgretId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[okul]    Script Date: 27.04.2024 16:37:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[okul](
	[OkulId] [int] IDENTITY(1,1) NOT NULL,
	[OkulAdi] [nvarchar](50) NULL,
	[OkulAdres] [nvarchar](50) NULL,
	[OkulVergi] [varchar](50) NULL,
	[OkulEmail] [nvarchar](50) NULL,
	[OkulTuru] [int] NULL,
	[IliId] [int] NULL,
	[IlcesiId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OkulId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
